apiVersion: v1
kind: Secret
metadata:
  name: cloudflared 
data:
  token: insert_token_encoded_as_base64_here # the following command will encode the token to base64: echo "insert_token_here" | base64 -w 0  
